.button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  @include button-none();
  color: #ffffff;
  padding: 12px 42px;
  cursor: pointer;
  transition: 0.45s;

  @media (max-width: $max-mobile-width) {
    padding: 6px 16px;
    font-size: 14px;
    line-height: 21px;
  }

  &--without-bg {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 4px 0px #d57709;
    border: 2px solid #f7de0d;
    border-radius: 49px;

    &:hover {
      box-shadow: none;
    }

    &:active {
      background: linear-gradient(180deg, #f7de0d 3.5%, #f7a50d 100%),
        rgba(255, 255, 255, 0.01);
      box-shadow: 0px 4px 0px #d57709;
    }

    &:disabled {
      background: linear-gradient(180deg, #f7de0d 3.5%, #f7a50d 100%),
        rgba(255, 255, 255, 0.01);
      opacity: 0.6;
    }
  }

  &--with-bg {
    background: linear-gradient(180deg, #f7de0d 3.5%, #f7a50d 100%),
      rgba(255, 255, 255, 0.01);
    box-shadow: 0px 4px 0px #d57709;
    border-radius: 49px;

    &:hover {
      box-shadow: none;
    }

    &:active {
      box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.45),
        inset 4px 4px 4px rgba(11, 9, 0, 0.35);
    }
  }
}
