.light-container {
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  min-height: 100vh;
}

.light {
  width: 2041px;
  height: 2041px;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, #001aff 0%, #000000 100%);
  opacity: 0.5;
  filter: blur(50px);
  top: -1020.5px;
  right: -700px;
  border-radius: 50%;
}
