.do-more-bg {
  margin: 0 auto;
  margin-padding-top: 30px;
  width: min-content;
  position: relative;
}

.do-more-bg__map {
  z-index: -1;
  position: relative;

  @media (max-width: $size--8) {
    width: 90vw;
    height: auto;
  }
}

.do-more-bg__img {
  position: absolute;
  transition: 0.7s;
  cursor: pointer;
  transition: 0.7s !important;

  &:hover {
    transform: scale(1.2) !important;
  }

  &--plant {
    padding-top: 330px;
    left: 141px;
  }
  &--water-wall {
    padding-top: 199px;
    left: 227px;
  }
  &--energy {
    padding-top: 131px;
    left: 413px;
  }
  &--incubator {
    padding-top: 303px;
    left: 385px;
  }
  &--servers {
    padding-top: 244px;
    left: 538px;
  }
  &--building {
    padding-top: 138px;
    left: 682px;
  }
  &--drone {
    padding-top: 86px;
    left: 809px;
  }
  &--laser {
    padding-top: 181px;
    right: 603px;
  }
  &--medTech {
    padding-top: 325px;
    left: 778px;
  }
  &--agriTech {
    padding-top: 337px;
    left: 653px;
  }
  &--chemistry {
    padding-top: 448px;
    left: 716px;
  }
  &--truck {
    padding-top: 425px;
    right: 673px;
  }
  &--atonomic {
    padding-top: 313px;
    right: 552px;
  }
  &--battery {
    padding-top: 491px;
    right: 592px;
  }

  @media (max-width: $size--8) {
    &--plant {
      padding-top: 20.8%;
      left: 8.7%;
    }
    &--water-wall {
      padding-top: 12.2%;
      left: 14%;
    }
    &--energy {
      padding-top: 8%;
      left: 25.5%;
    }
    &--incubator {
      padding-top: 18.7%;
      left: 23.7%;
    }
    &--servers {
      padding-top: 15%;
      left: 33.2%;
    }
    &--building {
      padding-top: 8.5%;
      left: 42%;
    }
    &--drone {
      padding-top: 5.3%;
      left: 50%;
    }
    &--laser {
      padding-top: 11.1%;
      right: 37.2%;
    }
    &--medTech {
      padding-top: 20%;
      left: 48%;
    }
    &--agriTech {
      padding-top: 20.8%;
      left: 40.3%;
    }
    &--chemistry {
      padding-top: 27.6%;
      left: 44.2%;
    }
    &--truck {
      padding-top: 26.2%;
      right: 41.5%;
    }
    &--atonomic {
      padding-top: 19.3%;
      right: 34%;
    }
    &--battery {
      padding-top: 30.3%;
      right: 36.5%;
    }
  }

  @media (max-width: $size--5) {
    height: auto;
    &--plant {
      width: 5.8%;
    }
    &--water-wall {
      width: 6.25%;
    }
    &--energy {
      width: 4.2%;
    }
    &--incubator {
      width: 4%;
    }
    &--servers {
      width: 5.7%;
    }
    &--building {
      width: 5.6%;
    }
    &--drone {
      width: 6.8%;
    }
    &--laser {
      width: 4.15%;
    }
    &--medTech {
      width: 5.2%;
    }
    &--agriTech {
      width: 4.8%;
    }
    &--chemistry {
      width: 4.6%;
    }
    &--truck {
      width: 6.4%;
    }
    &--atonomic {
      width: 5.6%;
    }
    &--battery {
      width: 4.15%;
    }
  }
}
