.industry {
  width: 240px;
  text-align: center;

  @media (max-width: $size--4) {
    width: 70vw;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

.industry__img-container {
  position: relative;
  box-sizing: border-box;
  z-index: 2;

  &::before {
    @include defaul-pseudo-element(180px);
    background: linear-gradient(180deg, #0047ff 0%, #000000 100%);
    left: 30px;
    bottom: -17px;
    opacity: 0.1;
    border-radius: 50%;

    @media (max-width: $size--4) {
      left: 37%;
    }

    @media (max-width: $size--3) {
      left: 33%;
    }
  }

  &::after {
    @include defaul-pseudo-element(214px);
    background: radial-gradient(50% 50% at 50% 50%, #001aff 0%, #000000 100%);
    filter: blur(50px);
    left: 13px;
    bottom: -25px;
    z-index: -1;

    @media (max-width: $size--4) {
      left: 35%;
    }

    @media (max-width: $size--3) {
      left: 31%;
    }
  }
}

.industry__title {
  @include margin-bottom(20px);
  margin-top: 55px;
}
