.main-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 20px 0;
}

.main-header__logo {
  margin-left: 7.8vw;
  width: 192px;
  height: 40px;
}

.main-header__languages-settings {
  margin-right: 30px;
}
