.main-footer {
  max-width: 1920px;
  box-sizing: border-box;
  padding: 0 7.6vw;
  align-items: center;
  min-width: 100%;
  margin: 0 auto;
  overflow-y: clip;
}

.block-animation--active {
  & .main-footer__container {
    &::before {
      animation: footer-line 0.5s linear forwards;
    }
  }
}

.main-footer__container {
  padding: 30px 0;
  margin: 0 auto;

  position: relative;

  &-animation {
    display: flex;
    justify-content: space-between;
  }

  &::before {
    @include defaul-pseudo-element(0, 1px);
    top: 0;
    left: 50%;
    background-color: #2f0dff;
  }
}

.main-footer__copyright {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  margin: 0;

  color: #e5e7fa;
}

// Animiations
@keyframes footer-line {
  from {
    width: 0%;
    left: 50%;
  }
  to {
    left: 0;
    width: 100%;
  }
}
