.pmo {
  width: 617px;
  height: 576px;
  display: flex;
  align-items: center;
  background: url("./../../public/img/pmo-bg.svg") no-repeat center center;
  position: relative;
}

.pmo__tilte {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  /* identical to box height, or 108% */

  color: #fdcd24;
  margin: 0;
}

.pmo__under-title {
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  /* or 260% */

  text-transform: uppercase;
  text-align: center;

  color: #fdcd24;
  margin: 0;
}

.pmo__title-container {
  width: fit-content;
  margin: 0 auto;
}

.pmo__list {
  @include list-none;
}

.pmo__item {
  position: absolute;

  &--planning {
    top: 0;
    right: 228.5px;
  }

  &--monitoring {
    top: 185px;
    right: 0;
  }

  &--managing {
    bottom: 0;
    right: 96px;
  }

  &--controlling {
    bottom: 0;
    left: 96px;
  }

  &--reporting {
    top: 185px;
    left: 0;
  }
}
